<launch>
  <arg name="map" default="/projected_map"/>

  <include file="$(find nav_goals_generator)/launch/nav_goals_generator.launch">
    <arg name="map_frame" value="$(arg map)"/>
  </include>

  <node name="nav_goals_evaluation_server" pkg="object_search" type="nav_goals_evaluation_server" output="screen"/>
</launch>
