<launch>
  <!-- declare args to be passed in -->
  <arg name="obj" default='{"type" : "keyboard"}'/> 
  <!-- <arg name="obj" default='{"type" : "keyboard"}'/> -->
  <!-- <arg name="obj" default='{"type" : "bottle"}'/>-->
  <!-- <arg name="obj" default='{"type" : "banana"}'/>-->
  <!--<arg name="method" default='qsr'/> -->
  <arg name="method" default='support'/>
  <!-- <arg name="robot" default='real'/> -->
  <arg name="robot" default='real'/> 
  <arg name="map_frame" default='/projected_map'/> 
  <!-- <arg name="map_frame" default='/map'/> -->


  <param name="obj_desc" type="string" value="$(arg obj)" />
  <param name="search_method" type="string" value="$(arg method)" />    
  <param name="robot" type="string" value="$(arg robot)" />    
  <param name="map_frame" type="string" value="$(arg map_frame)" />    

  <!-- robot lab bham-->
  <!--<rosparam param="search_area">[[0.5,-6.7],[6.8,-6.7],[6.8,-9.2],[0.5,-9.2]]</rosparam>-->
  <!--<rosparam param="search_area">[[0.0,-5.1],[7.1,-5.1],[7.1,-10.8],[0.0,-10.8]]</rosparam>-->
  <!--<rosparam param="search_area">[[-2.0,4.0],[4.0,4.0],[4.0,-6.0],[-2.0,-6.0]]</rosparam>-->
  
  <!-- simulated lab -->
  <!-- <rosparam param="search_area">[[2.0,-8.0],[5.0,-8.0],[5.0,2.0],[2.0,2.0]]</rosparam> -->
  <!-- simulated lab and outside -->
  <!-- <rosparam param="search_area">[[-5.5,-12.5],[6.0,-12.5],[6.0,3.5],[-5.5,3.5]]</rosparam> -->

  <!-- <rosparam param="search_area">[[2.0,-8.0],[5.0,-8.0],[5.0,2.0],[2.0,2.0]]</rosparam>-->
 
  <!-- real bham lab icra --> 
  <!-- <rosparam param="search_area">[[0.0,0.0],[-2.0,0.0],[0.0,-3.5],[-2.0,-3.5]]</rosparam> -->

  <!-- real bham lab obj search demo-->
  <rosparam param="search_area">[[-4.6,-10.0],[4.0,-7.0],[1.0,3.9],[-8.0,3.4]]</rosparam> 


  <param name="min_objs" type="int" value="1" />
  <param name="max_objs" type="int" value="1" />
  <param name="max_time" type="int" value="240"/>
  <param name="max_poses" type="int" value="10" />  

  <param name="num_of_nav_goals" type="int" value="500" />  
  <param name="num_of_trajectories" type="int" value="1000" />  

  <param name="inflation_radius" type="double" value="0.35" />  

  <!-- <param name="octomap_file" type="string" value="/home/lars/catkin_ws/srs/strands_morse/bham/maps/cs_lg_obj_search_octomap.bt" />  -->
  
</launch>
